{% extends 'homepage/index.html' %}
{% load widget_tweaks %}

{% block content %}
    <p class="latin">Did you know? Around 60% of Korean vocabulary derives from Hanja.<br> Understand the origin of the Korean words you study.</p>
    <p class="latin">Enter a Korean sentence below.</p>
    <form class="input-form" action="{% url 'homepage' %}" method="post">
        {% csrf_token %}
        {% render_field form.text placeholder="한글로 문장을 입력해주세요" class="input-text" %}
        <button type="submit" class="button">convert</button>
    </form>
{% endblock %}