@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap');

a { color:black } 

a:visited { 
    text-decoration: none; color:black; 
}

h1, p, .input-text {

    margin-left: 200px;
}

/*
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}
*/

.hanja-title {
    text-decoration: underline;
    text-decoration-color: #a6a6a6;
    text-underline-offset: 4px;
    font-family: 'Noto Serif TC', serif;
    font-weight: 400;
    font-size: 24px;
    position: relative;
    top: 8px;
}

.hangul-title {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #ffad99;
    font-family: 'Gowun Batang';
    font-weight: 400;
    font-size: 30px;
}

.latin {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
}

h1 {
    font-weight: 400;
    margin-top: 50px;
}

h5 {
    font-family: 'Inter';
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    margin-left: 220px;
    margin-bottom: 50px;
}

input {
    border: none;
    border-bottom: 2px solid black;
    padding: 12px 8px;
}

.button {
    font-size: 16px;
    background-color: #a6a6a6;
    border: none;
    margin-left: 890px;
    top: 4px;
}

img {
    max-width: 20%;
    max-height: 20%;
    margin-right: 150px;
  }

footer {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 1005px;
}

.result {
    font-family: 'Noto Serif';
    font-weight: 400;
    font-size: 24px;
}

.input-text {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 16px;
    width: 50%;
    padding-bottom: 4px;
}
